@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;1,400;1,500;1,800&family=Roboto:wght@100;300;400;500;700;900&family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    scroll-behavior: smooth;
}

:root {
    --text-color: #030303;
    --text-color-header: #606060;
    --text-color-header-left:#030303;
    --bg-primary: rgba(255, 255, 255, 0.98);
    --bg-body-color: #f9f9f9;
    --border-color: rgba(0, 0, 0, 0.1);
    --bg-color-hover: rgba(0, 0, 0, 0.05);
    --bg-color-button-hover: rgba(0, 0, 0, 0.1);
    --bg-search: #fff;
    --border-color-search: #ccc;
    --bg-color-search: #f8f8f8;
    --bg-color-search-hover: #f0f0f0;
    --border-color-btn-search: #d3d3d3;
    --bg-btn-mic: #f9f9f9;
    --bg-btn-category-header: rgba(0, 0, 0, 0.05);
    --bg-btn-category-header-active: #000;
    --color-btn-category-header-active: #fff;
    --bg-btn-category-header-hover:rgba(0, 0, 0, 0.1);
    --bg-item-title: rgba(0, 0, 0, 0.5);
    --fill-color-icon: unset;
    --bg-color-header-item: rgba(0, 0, 0, 0.05);
    --header-height: 112px;
    --header-top-height: 56px;
    --header-left-width: 72px;
    --bg-scrollbar-thumb-hover: rgba(0, 0, 0,0.4);
    --z-index-header: 997;
    --bg-color-loading: #000;
    --bg-color-show-more-hove: rgba(0, 0, 0, 0.05);
    --hover-opcity: 0.8;
    --fillter-invert: none;
    --color-author-hover: #000;
    --bg-color-click: rgba(0, 0, 0, 0.4);
}

[data-theme = "dark"] {
    --text-color:  #ffffffe0;
    --text-color-header: #aaa;
    --text-color-header-left:#fff;
    --border-color: rgba(255, 255, 255, 0.1);
    --bg-primary: rgba(32,32,32,1);
    --bg-body-color: #181818;
    --bg-search: #121212;
    --border-color-search: #303030;
    --bg-color-search: #313131;
    --bg-color-search-hover: rgba(49,49,49,0.8);
    --border-color-btn-search: #313131;
    --bg-btn-mic: #181818;
    --bg-btn-category-header: rgba(255, 255, 255, 0.1);
    --bg-btn-category-header-active: #fff;
    --color-btn-category-header-active: #000;
    --bg-btn-category-header-hover:rgba(255, 255, 255, 0.2);
    --bg-item-title: #616161;
    --bg-color-header-item: rgba(255, 255, 255, 0.2);
    --bg-scrollbar-thumb-hover: rgba(255, 255, 255,0.4);
    --bg-color-loading: #fff;
    --fill-color-icon: #fff;
    --hover-opcity: 1;
    --fillter-invert: invert(100%);
    --bg-color-show-more-hove: rgba(255, 255, 255, 0.05);
    --color-author-hover: #fff;
    --bg-color-click: rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar {
    width: 16px;
    height: 0;
}

::-webkit-scrollbar-thumb {
    background-color: var(--text-color-header);
    border-radius: 15px;
    border: 5px solid var(--bg-primary);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--bg-scrollbar-thumb-hover);
}

::-webkit-scrollbar-track {
    background-color:  var(--bg-primary);
}

.container-svg-icon{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0 16px;
    fill: var(--fill-color-icon);
}

.container-svg-icon.mg-0 {
    margin: 0;
}

.width-height-40 {
    width: 40px;
    height: 40px;
    padding: 8px;
    border-radius: 50%;
}

.width-height-40.pd-0 {
    padding: 0;
}

.img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.pd-l-r-16 {
    padding: 0 16px;
}

.pd-t-b-8 {
    padding: 8px 0 !important;
}

.position-relative {
    position: relative;
}

.flex-1 {
    flex: 1;
}