:root {
    --height-bottom: 60px;
}

/* Tablet & Mobile */
@media (max-width: 1023px) {

    
    .header__right {
        width: auto;
    }   
    

    .header__search-container {
        margin-left: 20px;
    }

    .header__user {
        padding: 1px 0 1px 8px;
    }
}



/* Tablet */
@media (min-width: 740px) and (max-width: 1023px)  {
    .header__search {
        width: auto;
        margin-left: 0;
        margin-right: 0;
    }

    .header__bottom-btn-move-next {
        right: 0;
    }

    .show-more-pc {
        display: none;
    }

    .show-more-tablet {
        display: flex;
    }
}

/* Mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }

    .header__search-container {
        margin-left: 0;
    }

    .header__search.active {
        display: block;
        position: fixed;
        left: 8px;
        right: 8px;
        margin: 0;
        width: auto;
        background-color: var(--bg-primary);
        z-index: 1000;
    }

    .header__search-btn {
        width: 50px;
        padding: 7px 13px 12px;
    }

    .btn-back-search:hover {
        background-color: var(--bg-btn-category-header);
    }

    .header__search-history {
        position: fixed;
        width: auto;
        right: 0;
        left: 0;
        padding-left: 16px;
    }

    .header__right {
        flex: 1;
    }

    .header__bottom-list {
        padding-left: 0;
    }

    .category__left {
        left: 0;
        right: 0;
        bottom: 0;
        top: unset;
        height: var(--height-bottom);
        width: 100%;
    }

    .category__left-list {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        margin-top: 0;
    }

    .notification-icon-mobile.hide {
        display: none;
    }

    .header__notification-container {
        position: fixed;
        right: 0;
        left: 0;
        width: 100vw;
    }

    .category__left-item-link {
        padding: 9px;
    }

    .body__container {
        margin-left: 0;
    }

    .header__bottom {
        margin-left: 0;
    }

    .header__bottom-container {
        width: calc(100vw - 32px);
    }

    .header__user-option {
        position: fixed;
        width: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .header__user-option-header {
        border-right: none;
    }

    .footer {
        margin-bottom: var(--height-bottom);
        padding: 24px 0;
    }
}